<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.planningCenterCheckoutPage</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/WebServer/PlanningCenterCheckoutPage/PCCPVENV/bin/python3</string>
    <string>/Library/WebServer/PlanningCenterCheckoutPage/app.py</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key><true/>
  <key>StandardErrorPath</key>
  <string>/tmp/local.planningCenterCheckoutPage.err</string>
  <key>StandardOutPath</key>
  <string>/tmp/local.planningCenterCheckoutPage.out</string>
</dict>
</plist>`
